@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css?family=Martel+Sans:300|Biryani:200');

body, h1, h2 {
    font-family: Biryani, sans-serif;
}

.section-a {
    background: linear-gradient(to right, #e4e5df, #edebe7) ;
}

.orbit-figure {    
    height: 430px;
    max-height: 430px;
}

.orbit-image {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    min-width: 360px;
    width: 50%;
    max-width: 604px;
    position: absolute;
    bottom: 165px;
}

.orbit-caption {
    left: 0;
    right: 0;
    top: 0;
    margin: 40px  auto 0 auto;
    padding: 0; 
    max-width: 320px;
    background: none;
    font-size: 14px;
    color: #000000;
}

.orbit-caption h1 {
    font-size: 32px;
    margin-top: 40px;
    font-weight: bold;
}

.icon-btn {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 11px;
}

.icon-btn:hover {
    cursor: pointer;
}

.icon-btn:hover .icon{    
    color: #57c5a0;
}

.grid-x button {
    margin: 25px;
    border: 1px solid #bcb5a7;
    padding: 8px 18px;
    color: #bcb5a7;
}

.grid-x button:hover {
    cursor: pointer;
    color: #57c5a0;
}

.grid-x h2 {
    margin: 10px 0 0 0;
}

.price, .date {
    display: inline;
    padding: 20px 10px;
    font-size: 10px;
    color: #ffffff;
    background-color: #57c5a0;
    bottom: 0;
}

.section-b {
    background-color: #ebe7df;    
}

.card img{
    width: 220px;
}

.product .card-section {
    border-top: 1px solid #cccccc;
    height: 40px;
}

.product .card-section p {
    margin-right: 10px;
    font-weight: bold;
}

.on-sale {
    background: url('../imgs/on-sale.jpg');
}

.special-offers {
    background: url('../imgs/special-offers.jpg');
}

.must-have {
    background: url('../imgs/must-have.jpg');
}

.badge-on, .badge-out {
    padding: 25px 12px;
    text-align: center;
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    margin-left: 8rem;
}

.badge-on {
    background-color: #242424;
}

.badge-out {
    background-color: #f27e4b;
    padding: 15px 12px;
}

.badge-on::after {
    content: 'ON SALE!';
}

.badge-out::after {
    white-space: pre;
    content: 'OUT OF\A STOCK';
}

.icon-btns .icon-btn {
    margin: 0;
    border: none;
    padding: 0 6px 0 0;
    background-color: rgba(255, 255, 255, 0.75);
}

a {
    color: #adadad;
}

@media screen and (min-width: 768px) {
    .orbit-figure {
        height: 360px;
    }

    .orbit-image {
        bottom: 40px;
        margin-left: 22%;
    }

    .orbit-caption {
        margin-left: 45%;
        line-height: normal;    
    }

    .orbit-caption h1 {
        line-height: 2.2rem;
    }

    .price {
        padding: 22px 12px;
        font-size: 12px;
    }

    .product .card-section {
        height: 50px;
    }

    .blog-post {
        height: 50px;
        max-height: 50px;
    }

}

@media screen and (min-width: 960px) {
    .orbit-figure {
        height: 560px;
    }

    .orbit-image {
        margin-left: 15%;
        max-width: 500px;
    }

    .orbit-caption {
        padding: 0;
        margin-left: 50%;
        font-size: 16px;
        max-width: 360px;
    }

    .orbit-caption h1 {
        font-size: 32px;
    }

    .card img {
        width: 285px;
    }

    .badge-on, .badge-out {
        margin-left: 13rem;
    }

    .icon-btns .icon-btn {
        padding: 0 11px;
    }

}