@charset 'UTF-8';

.flickr {
    width: 250px;
}

.flickr > img {
    cursor: pointer;
    margin: 5px;
    width: 70px;
    height: 50px;
    transition: 0.3s;
}

.flickr > img:hover {
    opacity: 0.7;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 700px;
}

.caption {
    margin: auto;
    padding: 10px 0;
    display: block;
    width: 80%;
    max-width: 700px;
    height: 150px;
    text-align: center;
    color: #ccc;
}

.modal-content, .caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .modal-content {
        width: 80%;
    }
}