@charset 'UTF-8';

footer {
    background-color: #242424;
    color: #adadad;
    font-size: 10px;
    font-style: italic;
}

footer > div {
    margin: 0 !important;
    padding: 20px;    
}

footer h1 {
    font-size: 12px;
    font-weight: bold;
}

footer p:nth-of-type(even) {
    font-weight: bold;
}

.newsletter {
    border-top: 1px solid #000000;
}

.newsletter input {    
    margin: 0 0 10px 0;
    border: none;
    padding: 0;
    height: 40px;
}

.newsletter input[type=email] {    
    display: inline;
    padding-left: 10px;
    width: 200px;
    background-color: #2e2e2e;
    color: #adadad;
    font-size: 10px;
}

.newsletter input[type=button] {    
    cursor: pointer;
    width: 35px;
    color: #242424;
    background-color: #adadad;
    font-size: 16px;
    font-weight: bold;
}

.newsletter button {    
    margin: 0 2px !important;
    border: 0 !important;
    padding: 0 !important;
    width: 40px;
    height: 40px;
    background-color: #2e2e2e;
}

footer > div:last-child {
    background-color: #2e2e2e;
}

footer nav a:hover {
    color: #57c5a0;
}

@media screen and (min-width: 768px) {
    footer > div {
        padding: 20px calc((100% - 768px) / 2);
    }
}

@media screen and (min-width: 960px) {
    footer > div {
        padding: 20px calc((100% - 960px) / 2);
    }
}