@charset 'UTF-8';

.top-bar, .title-bar, .menu a {
    padding: 0;
}

.top-bar, .title-bar {
    background-color: #242424;
    color: #7E7E7E;
    min-height: 45px;
}

.title-bar {
    margin: 0 auto;
    justify-content: center;
}

.title-bar a:hover {
    color: #7E7E7E
}

.logo {
    padding-top: 5px;
    padding-right: 20px; 
    color: #57c5a0;
    font-family: 'Martel Sans', sans-serif;
    letter-spacing: -1px;
    font-size: 26px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.75);
}

a.logo:hover {
    color: #57c5a0;
}

.logo, #login {
    border-right: 1px solid #383838;
    height: 45px;
}

#login {    
    padding: 15px 20px 0 0;
    font-size: 10px;    
}

#login a {
    display: inline;
    padding: 0 5px;
    color: #7E7E7E; 
}

ul.menu {
    min-height: 60px;
    width: 100%;
    justify-content: center;
    background-color: #ffffff;
}

.menu a {
    color: #000000;
}

.menu a:hover {
    color: #57c5a0;
}

.menu li {
    border-right: 1px solid #cccccc;
    padding: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 45px;
}

.menu li:first-of-type {
    border-left: 1px solid #cccccc;
}

.menu span {
    margin-left: 4px;
    border-radius: 4px;
    padding: 2px 4px;
    background-color: #adadad;
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

.menu li:hover span {
    background-color: #57c5a0;
}

li.search {
    border: none;    
    padding: 0;
}

.fa-search {
    margin-left: 5px;
}

.icon {
    font-size: 1em;
    color: #7e7e7e;
    transition: color linear .05s;
}

.top-bar input[type=search], .ui-menu  {
    border: none;
    height: 100%;
    margin: 0;
    text-transform: uppercase;
    color: #b1aeae;
    font-family: 'Myriad Pro', sans-serif;
    background-color: #242424;
    padding: 0 .5rem;
}

.ui-menu {
    background-color: #eeeeee;
    width: 212px;
    padding: 0;
}

.ui-menu li {
    height: 45px;
    width: 100%;
    list-style: none;
    padding-top: 10px;
    padding-left: .5rem;
    border-bottom: 1px solid #7e7e7e;
}

.ui-menu li:hover {
    background-color: #ffffff;
    border-bottom: 1px solid #7e7e7e;
}


.ui-dialog, .ui-dialog-titlebar, .ui-dialog-buttonpane, .ui-widget.ui-widget-content  {
    border: 0;
    border-radius: 0;
    padding: 0;
    background-color: #ffffff;
}

.ui-dialog-titlebar {
    color: #cccccc;
    background: #242424;
}

.ui-dialog input {
    border: 0;
    background-color: #eeeeee;
}

.ui-dialog input:focus {
    background-color: #eeeeee;
}

.ui-dialog input::placeholder {
    color: unset;
}
.ui-button {
    border-radius: 0;
    border: 0;
    color: #ffffff;
    background: #57c5a0;
}

.ui-button:hover {
    border: 0;
    background: #48ac8a;
    color: #ffffff;
}

.ui-button[title=Close] {
    background-color: #c55757;
}

@media screen and (min-width: 768px) {
    .top-bar {
        padding: 0 calc((100% - 960px) / 2);
    }

    .logo {
        border: none;
    }    

    .top-bar {
        height: 45px;
    }

    .top-bar-right .menu {
        background-color: #242424;
    }    

    ul.menu {
        min-height: 45px;
    }

    .menu li {
        border-right-color: #383838;
    }

    #login {    
        padding-top: 0;
        padding-left: 20px;
    }

    nav ul.menu {
        justify-content: flex-start;
    }

    nav ul.menu li {
        padding: 0 22px;
        border-right-color: #eeeeee;
    }
    
    nav .top-bar-right li {
        background-color: #ffffff;
        border-left: 1px solid #cccccc;        
    }

    nav .top-bar-right li:last-of-type {
        border-right: 1px solid #cccccc;        
    }

    nav .top-bar-left li:first-of-type {
        border-left-color: #eeeeee;
    }

    nav .top-bar-left li:last-of-type {
        border: none;
    }

    nav.top-bar {
        height: 60px;        
        background-color: #ffffff;
    }

    nav.top-bar a {
        font-weight: bold;
    }
    
    .menu li.search {
        padding: 0;
        border-left: 1px solid #383838;
        display: inline;
    }    

    .ui-menu {
        max-width: 256px;
        background-color: #383838 !important;
    }
    
    .ui-menu li.ui-menu-item:hover, .ui-menu li.ui-menu-item:hover div {
        background: #242424 !important;
    }

    .ui-menu li.ui-menu-item:hover div {
        border: 0;
        color: #cacaca;
    }

}

@media screen and (min-width: 960px) {
    .top-bar, .static-content {
        padding: 0 calc((100% - 960px) / 2);
    }
    
    nav .top-bar-left li:last-of-type {
        border-right: 1px solid #eeeeee;
    }
}