@charset 'UTF-8';

.orbit-bullets {
    margin: 0;
    background-color: #2e2e2e;
    height: 83px;
}

.orbit-bullets button {
    box-sizing: content-box;
    margin: 6px 0 0 0;
    width: 20%;
    height: 6px;
    border-radius: 0;
    background-color: #000000;
    border: 2px solid #000000;    
}

.orbit-bullets button:nth-of-type(odd) {
    border-right-width: 10px;
    border-left-width: 10px;
}

.orbit-bullets h1 {
    position: absolute;
    top: 24px;
    font-size:  0.75rem;
    text-align: center;
    line-height: normal;
    color: #979797;    
}

.orbit-bullets p {
    position: absolute;
    top: 42px;
    font-size:  0.5625rem;
    text-align: center;    
    color: #6e6e6e;
}

.orbit-bullets button:hover, .orbit-bullets button.is-active {
    background-color: #57c5a0;
}

.orbit-bullets button:hover p, .orbit-bullets button.is-active p {
    color: #adadad;
}

.orbit-bullets button:hover h1, .orbit-bullets button.is-active h1 {
    color: #ffffff;
}

.specials {
    background-color: #242424;
    padding: 20px 0;
}

.specials .align-center-middle {
    width: 220px;    
    height: 180px;
    margin-bottom: 10px;
}

.align-center-middle p {
    margin: 0;
    padding: 10px 25px;
    color: #ffffff;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.75);
}

.static-content {
    margin-top: 20px;
    border-top: 1px solid #adadad;
}

.static-content .card {
    margin-top: 10px;
    height: 185px;
    background-color: rgb(223, 213, 213);
    font-size: 10px
}

.static-content h6 {
    font-size: 12px;
    font-weight: bold;
}

.blog-post {
    margin-top: 15px;
    min-height: 50px;
}

.blog-post div {    
    padding: 5px 10px;
}

.blog-post h6 {
    margin-bottom: 0;
}

.date {
    padding: 15px;
    height: 50px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    line-height: 12px;
    white-space: pre-wrap;
}

@media screen and (min-width: 768px) {
    .static-content {        
        padding: 0 calc((100% - 768px) / 2);
    }

    .orbit-bullets h1 {
        font-size:  0.8rem;
        padding-left: 40px;
    }
    
    .orbit-bullets p {
        font-size:  0.6rem;
        padding-left: 40px;
    }
}

@media screen and (min-width: 960px) {
    .static-content {
        padding: 0 calc((100% - 960px) / 2);
    }

    .orbit-bullets button {
        width: 12%;
    }

    .orbit-bullets h1 {
        font-size:  1rem;
    }
    
    .orbit-bullets p {
        font-size:  0.75rem;
    }

    .specials .align-center-middle {
        width: 285px;
    }
}