.banner {
    position: relative;
    overflow: hidden;
}

.orbit-figure {
    height: 300px;
}

.orbit-image {
    bottom: 50px;
}

.orbit-caption .price {
    transform: translateY(-30px);
    display: inline-block;
}

.orbit-caption h1 {
    display: inline-block;
    margin: 20px 0 0 10px;
    line-height: 40px;
}

.orbit-caption p     {
    margin: 0;
    transform: translateY(-15px);
}


.filter {    
    padding: 20px 0;
    background-color: #2e2e2e;
    color: #ffffff;
}

.filter h1 {    
    margin: 0 10px 20px 10px;
    font-size: 16px;
    font-weight: bold;
}

.filter select {
    margin-top: 15px;
    height: 60px;
    background-color: #242424;
    color: #ffffff;
    border: none;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}


.products-header {
    margin-top: 30px;
    
}

.products-header h1 {
    margin: 0;
    padding-top: 10px;
    font-size: 20px;
}

.products-header h2, .products-header select {
    font-size: 12px;
    font-weight: bold;
    color: #bcb5a7;
}

.products-header select {
    margin-top: 5px;
    margin-bottom: 30px;
    padding-top: 4px;
    border: 1px solid #bcb5a7;
    width: 198px !important;
    height: 30px;
    background-color: #ebe7df;
    text-align: center;    
}

.breadcrumbs li {
    color: #bcb5a7;
}

.breadcrumbs a {
    font-weight: bold;
    color: #bcb5a7;
}

.breadcrumbs a:hover {
    color: #57c5a0;
}


.view-as {
    justify-content: center;
}



.grid-showcase {
    padding: 20px 0;
    flex-flow: row wrap;
}

.product {
    flex: 1 0 220px;
    max-width: 220px;
    margin-right: 18px;
}

.product-name {
    margin-bottom: 0;
    color: #000000;
}

.produc-description {
    display: none;
}

.list-showcase {
    flex-flow: column nowrap;    
}

.list-showcase .product {
    max-width: unset;
    display: flex;
    flex-direction: row;
    flex-basis: 160px;
    background-color: #242424;
}

.list-showcase .product-name {
    color: #ffffff;
}

.list-showcase .product p {
    position: relative;
    right: 15px;
    bottom: 65px;
    font-size: 12px;
    font-weight: 500;    
}

.list-showcase .product .product-name {
    font-size: 16px;
    right: 190px;
    font-weight: bold;
    margin-bottom: 10px;}

.list-showcase .product > div {
    flex-direction: column;
}

.list-showcase .product .price {
    margin: 0;
    top: 75px;
    left: 200px;
    color: #ffffff;
}

.list-showcase .product .badge-out, .list-showcase .product .badge-on {
    margin: -32px;
    position: relative;
    left: 45px;
    bottom: 50px;
}

.list-showcase .product .badge-on {
    margin: -36px;
}

.list-showcase .produc-description {
    display: block;
    width: 440px;
    color: #adadad;
}

.list-showcase .card img {
    width: 220px;
}

.list-showcase .icon-btns {
    display: block !important;
    position: relative;
    bottom: 220px;
    left: 309px;
    width: 40px;
    text-align: center;
}

.list-showcase .icon-btn {
    height: 40px;
    width: 40px;
    text-align: center;
}

@media screen and (min-width: 728px) {
    .grid-showcase, .list-showcase, .filter, .products-header {
        padding: 0 calc( ( 100% - 728px ) / 2);
    }

    .filter {
        padding-top: 20px;
        padding-bottom: 20px;
        height: 90px;
    }

    .filter h1 {
        margin-top: 15px;
        margin-right: 20px !important;
    }

    .filter select {
        margin-top: -5px;
        margin-right: 15px;
        width: 200px !important;
    }

    .filter select:last-of-type {
        margin-right: 0;
    }


    .breadcrumbs {
        padding-top: 20px;
        margin-left: 15px;        
    }

    .products-header button {
        margin: 5px;
        padding: 0;
        width: 30px;
        height: 30px;
    }

    .view-as {
        justify-content: right;
    }

    .list-showcase .product .price {
        top: 78px;
        left: 125px;
    }

    .list-showcase .icon-btns {
        bottom: 190px;
        left: 202px;
    }
}

@media screen and (min-width: 960px) {
    .grid-showcase, .list-showcase, .filter, .products-header {
        padding: 0 calc( ( 100% - 960px ) / 2);
    }


    .filter h1 {
        margin-top: 34px;
        margin-right: 50px !important;
    }

    .filter select {        
        margin-top: 15px;
        width: 220px !important;
    }


    .product {
        flex: 1 0 285px;
        max-width: 285px;
    }

    .list-showcase .product .product-name {
        right: 265px;
        font-size: 18px;
    }

    .list-showcase .produc-description {
        width: 450px;
        padding: 8px;
        border-radius: 10px;
        background-color: #2e2e2e;
    }

    .list-showcase .product p {
        right: 0;
        font-size: 14px;
    }

    .list-showcase .product .price {
        top: 75px;
        left: 210px;
    }
    
    .list-showcase .icon-btns {
        bottom: 220px;
        left: 309px;
    }
}