<div class="grid-x grid-margin-x align-center">
    <div class="cell small-12 medium-4">
        <h1>TEXT WIDGET</h1>
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique odio tempora quis non praesentium, quod officiis adipisci molestias quibusdam! Omnis?</p>
    </div>
    <div class="cell small-12 medium-4">
        <h1>TWITTER WIDGET</h1>
        <div class="tweets"></div>
    </div>
    <div class="cell small-12 medium-4">
        <h1>FLICKR WIDGET</h1>
        <div class="flickr">
            <img src="https://placehold.it/700x500/" alt="image 1">
            <img src="https://placehold.it/750x500/" alt="image 2">
            <img src="https://placehold.it/780x500/" alt="image 3">
            <img src="https://placehold.it/710x500/" alt="image 4">
            <img src="https://placehold.it/720x500/" alt="image 5">
            <img src="https://placehold.it/740x500/" alt="image 6">
            <div class="modal">
                <span class="close">&times;</span>
                <img class="modal-content">
                <div class="caption"></div>
            </div>
        </div>
    </div>
</div>
<div class="newsletter grid-x align-justify">
    <div class="cell small-12 medium-4 flex-container align-center">
        <form data-abide novalidate>            
            <input id="email" type="email" placeholder="Enter email for newsletter" aria-describedby="Enter email for newsletter" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"><input id="saveEmail" type="button" value=">">
            <span class="form-error">Invalid email</span>
        </form>
    </div>
    <div class="cell small-12 medium-4 flex-container align-center">
        <a href="#"><button><i class="fab fa-facebook-f"></i></button></a>
        <a href="#"><button><i class="fab fa-twitter"></i></button></a>
        <a href="#"><button><i class="fab fa-google-plus-g"></i></button></a>
        <a href="#"><button><i class="fab fa-linkedin-in"></i></button></a>
        <a href="#"><button><i class="fab fa-flickr"></i></button></a>
    </div>
</div>
<div>
    <div class="text-left flex-container align-justify">
        <p>Copyright &copy; Fooseshoes 2013.<br/>Designed by EnzoLiVolti.</p>
        <nav >
            <a href="../index.html"> Home </a>/
            <a href="#"> Support </a>/
            <a href="#"> Terms and Conditions </a>/
            <a href="#"> Faqs </a>/
            <a href="#"> Contact us </a>
        </nav>
    </div>
</div>
<script src="../js/twitterWidget.js"></script>
<script src="../js/flickrWidget.js"></script>
<script src="../js/footer.js"></script>