<div class="title-bar" data-responsive-toggle="large-menu" data-hide-for="medium">
    <a class=logo href="../index.html">FOOSESHOES</a>
    <div id="login">
        <a class="loginDialog">LOGIN</a> or <a class="registerDialog">REGISTER</a>        
    </div>            
</div>
<nav class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
    <ul class="menu">
        <li><button type="button" data-toggle="responsive-menu"><i class="fas fa-bars icon"></i></button></li>                
        <li class="search"><input type="search" placeholder="Search"></li> 
        <li><i class="fas fa-search icon"></i></li>
        <li><i class="far fa-star icon"></i><span>30</span></li>
        <li><i class="fas fa-shopping-cart icon"></i><span>0</span></li>
    </ul>
</nav>        
<div class="top-bar" id="large-menu">
    <div class="top-bar-left"><a class=logo href="../index.html">FOOSESHOES</a></div>
    <div class="top-bar-right">
        <ul class="menu">
            <li class="search">
                <input type="search" placeholder="Search"></li>
            <li><i class="fas fa-search icon"></i></li>
            <li id="login">
                <a class="loginDialog">LOGIN</a> or <a class="registerDialog">REGISTER</a>
            </li>
        </ul>
    </div>
</div>
<nav class="top-bar" id="responsive-menu" data-hide-for="medium">
    <div class="top-bar-left">
        <ul class="menu">
            <li><a href="../index.html">Home</a></li>
            <li><a href="../html/products.html">Products</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Pages</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </div>
    <div class="top-bar-right hide-for-small-only">
        <ul class="menu">
            <li><i class="far fa-star icon"></i><span>30</span></li>
            <li><i class="fas fa-shopping-cart icon"></i><span>0</span></li>
        </ul>
    </div>
</nav>
<div class="dialogs">
    <div class="login"title="Sign in:">
        <form data-abide novalidate>
            <label for="login-email">Email:
                <input type="email" name="login-email" id="login-email" placeholder="Enter email for login" aria-describedby="Enter email for register" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                <span class="form-error">Invalid email</span>
            </label>
            <label for="login-pw">Password:
                <input type="password" name="login-pw" id="login-pw" placeholder="Enter password" aria-describedby="Enter password for login" required>
                <span class="form-error">Password required</span>
            </label>
        </form>
    </div>
    <div class="register"title="Create account:">
        <form data-abide novalidate>
            <label for="signup-name">Name:
                <input type="text" name="signup-name" id="signup-name" placeholder="Full name" aria-describedby="Enter your full name" required>
                <span class="form-error">Name required</span>
            </label>
            <label for="signup-email">Email:
                <input type="email" name="signup-email" id="signup-email" placeholder="Enter email for register" aria-describedby="Enter email for register" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                <span class="form-error">Invalid email</span>
            </label>
            <label for="signup-pw">Password:
                <input type="password" name="signup-pw" id="signup-pw" placeholder="Enter password" aria-describedby="Enter password for register" required>
                <span class="form-error">Password required</span>
            </label>
            <label for="signup-rpw">Re-enter Password:
                <input type="password" name="signup-rpw" id="signup-rpw" placeholder="Re-enter password" aria-describedby="Re-enter password for register" required data-equalto="signup-pw">
                <span class="form-error">Passwords does not match!</span>
            </label>
        </form>
    </div>
</div>
<script src="../js/header.js"></script>